---
layout: default
title: Dave Hawkins | Designer
---
    <header class="main">
    <h1>I’m Dave Hawkins, a UK based designer.</h1>
    <p>I currently work at <a href="https://www.placeavote.com">Placeavote</a>, but I also teach User Experience Design part time at <a href="https://www.springboard.com/">Springboard.</a><br /></p>
    <p>I've delivered digital products for companies like <a href="work/national-geographic">National Geographic</a>, <a href="work/fox-tv">FOX TV</a>, as well as  <a href="work/placeavote">startups</a> and established technology companies. I love seeing companies I work with get real traction through the products I've helped build for them, and I want to know if you've got real problems that need solving.
    </p>
    </header>
