.artificial {
  .logo {max-width:200px;}
  h1 {font-size:46px;margin-top:50px;text-align: center;}
  h3 {font-size:46px;}
  a {text-align: center;display:inline;}
  small {text-align: center;display: block;}
  ul {text-align: center;    margin-top:30px;
}
  ul li  {
    text-align: center;
    display: inline;}
    .maison-prototype {
      display: block;
      text-align: center;
      margin:0px auto;
    }
}
