.contact-bg {
	background: url('../img/contact.png');
	background-repeat:no-repeat;
	background-position-x: left;
  @media only screen and (max-width: 1656px) {background:none;}
}
.contact-main {
	max-width:700px;
	h1 { font-size:3.5em; color: $red; text-align:left;}
	padding:$base-padding;
	margin-top:2%;
  margin-left:27%;
	margin-bottom:20%;
	p {text-align:left;color:$grey;}
	@media only screen and (max-width: 1656px) {margin:0px auto;max-width:600px;}
  @media only screen and (max-width: 960px) {margin:0px auto;max-width:100%;}
  li {letter-spacing: 0.5px;font-size:18px;margin-bottom:15px;}
}
