.placeavote {
  .pav-header {background: #87e0fd;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #87e0fd), color-stop(0%, #5b7da8), color-stop(100%, #746898));
    background: -webkit-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);
    background: -webkit-linear-gradient(315deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);
    background: linear-gradient(135deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);
    margin:0px auto;
    text-align: center;
    display: inline-block;
    max-height: 700px;
    width: 100%;
    img.screen {padding:0 0 20px 0;}
    @media only screen and (max-width: 960px) {  img.screen {padding:20px;} }

  }
    background: #F4F3FD;
    .pav {padding:70px 0px 70px 0px;}
    h1.quote {font-style: $heading-font-family;font-size:42px;font-style:italic;}
    @media only screen and (max-width: 960px) {.pav {padding:50px;}}
    .pav-read-bg {background: #F4F3FD;min-height:auto;width:100%;}
    .center {padding:40px;display: block;margin:0px auto;}
    .small {font-size:12px;text-align: center;line-height:14px;padding-bottom:50px;}
    @media only screen and (max-width: 960px) {.small {padding:0px 20px 20px 20px;;}}
    h3 {color: $purple;}
    video {display:block;margin:0px auto;border-radius:3px;box-shadow: 2px 2px 2px #CFCFCF;}
    .tc-bg {
      background: #fff url(../img/tc.jpg) no-repeat top center;
      background-size: 100% auto;
      margin:0px auto;
      display:block;
      text-align: center;
      p {padding:30px 0 10px 0;}

      @media only screen and (max-width: 960px) {p {text-align: center;padding:20px 0px 10px 0px;color:#b7b7b7;font-style:italic;} background:none; }
    }
    .video {max-width:800px;margin:0px auto;padding-bottom:50px;}
    .pav-video-container {max-width:1300px;margin:0px auto;}
    }
